<h1>Bienvenido a DCCine</h1>

<ul>
  <li><%= link_to "Cartelera", movies_path %></li>
  <li><%= link_to "Crear película", new_movie_path %></li>
  <li><%= link_to "Crear nueva función", new_movie_show_path %></li>

</ul>
<br/>
